# setup

In [ ]:
# กรุณารันเซลล์นี้หากคุณใช้งาน Google Colab เพื่อทำข้อสอบ
!pip install -U pip
!pip install -U datascience ipytest rich

In [ ]:
from __future__ import annotations

import math

import ipytest
import numpy as np
import pandas as pd
from pytest import approx

ipytest.autoconfig()

# ข้อมูลงานกีฬาสีของนักเรียนมัธยม

เราสนใจข้อมูลสถิติการแข่งกีฬาของโรงเรียนแห่งหนึ่ง ซึ่งมีคอลัมน์ดังต่อไปนี้

- `first_name`: ชื่อต้น
- `last_name`: นามสกุล
- `class`: ชั้นเรียน มีค่าตั้งแต่ 7 ถึง 12
- `team_color`: ทีมกีฬาสีจากทั้งหมด 4 ทีม
- `100m_running_sec`: เวลาที่ใช้วิ่งระยะ 100 เมตร ในหน่วยวินาที
- `minigolf_strokes`: จำนวนสโตร์กในกีฬามินิกอล์ฟ
- `high_jump_cm`: ความสูงที่กระโดดได้ในกีฬากระโดดสูง ในหน่วยเซนติเมตร
- `bowling_score`: คะแนนที่ได้จากการเล่นเกมโบว์ลิ่ง

In [ ]:
SPORTSDAY_DF = pd.read_csv('https://raw.githubusercontent.com/ai-builders/entrance-exam-2022/main/sportsday.csv')

In [ ]:
SPORTSDAY_DF.head()

,first_name,last_name,class,team_color,100m_running_sec,minigolf_strokes,high_jump_cm,bowling_score
0,Ryan,Allen,8,whale_blue,16.85,24,69.65,135
1,Kathleen,Gomez,7,duckling_yellow,12.22,29,121.28,51
2,Anthony,Nguyen,8,salmon_red,18.58,50,89.77,201
3,William,Hill,9,whale_blue,16.75,57,64.31,254
4,Dorothy,Gonzales,12,caterpillar_green,14.35,55,115.82,81

<h1> โจทย์ปัญหาที่1: ทีมอะไรบ้าง

จงเติมฟังชั่น `team` ให้สมบูรณ์ ซึ่งรับข้อมูลตารางสถิติการแข่งกีฬา (ตามโครงสร้างที่ระบุข้างต้น)  
แล้วคำนวณว่าในตารางดังกล่าว มีทีมสีทั้งหมดกี่ทีม โดยให้ส่งค่าออกมาเป็นlistของทีมทั้งหมด

In [ ]:
def team(df: pd.DataFrame) -> str:
    # เขียนโค้ดของคุณตรงนี้
    return 0

In [ ]:
%%ipytest -qqs
def test_common_last_name():
    assert str(team(SPORTSDAY_DF)) == str(np.array(['whale_blue', 'duckling_yellow', 'salmon_red', 'caterpillar_green']))
    print("==== Test OK ====")

==== Test OK ====
.

<h1> โจทย์ปัญหาที่ 2: นามสกุลที่โหลที่สุด

จงเติมฟังก์ชัน `common_last_name` ให้สมบูรณ์ ซึ่งรับข้อมูลตารางสถิติการแข่งกีฬา (ตามโครงสร้างที่ระบุข้างต้น)  
แล้วคำนวณว่านามสกุลที่พบได้บ่อยที่สุดในตารางดังกล่าว มีทั้งสิ้นกี่คน

อินพุตของฟังก์ชัน

- `df`: ข้อมูลสถิติกีฬาจากงานกีฬาสี

ฟังก์ชันรีเทิร์นค่า

- จำนวนคนที่มากที่สุดที่ใช้นามสกุลเดียวกัน

คำใบ้และข้อมูลเพิ่มเติม

- เลือกเฉพาะคอลัมน์ `last_name`
- [Documentation ของ `pandas.Series.value_counts`](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html)
- อาจต้องเรียกใช้ฟังก์ชันอื่นเพิ่มอีก

In [ ]:
def common_last_name(df: pd.DataFrame) -> str:
    # เขียนโค้ดของคุณตรงนี้
    return 0

In [ ]:
%%ipytest -qqs
def test_common_last_name():
    assert common_last_name(SPORTSDAY_DF) == 8
    assert common_last_name(SPORTSDAY_DF[SPORTSDAY_DF.team_color == 'salmon_red']) == 4
    assert common_last_name(SPORTSDAY_DF[SPORTSDAY_DF['class'] == 7]) == 3
    print("==== Test OK ====")

==== Test OK ====
.

 <h1>โจทย์ปัญหาที่ 3: นักวิ่งลมกรดประจำทีม

จงเติมฟังก์ชัน `fast_runners` ให้สมบูรณ์ ซึ่งรับข้อมูลตารางสถิติการแข่งกีฬา (ตามโครงสร้างที่ระบุข้างต้น)  
แล้วให้กรองคัดเลือกแถวข้อมูลเฉพาะทีมที่กำหนด และสามารถวิ่งระยะ 100 เมตรภายในระยะเวลาที่กำหนด

 อินพุตของฟังก์ชัน

- `df`: ข้อมูลสถิติกีฬาจากงานกีฬาสี
- `team_color`: ชื่อทีมกีฬาสี
- `max_running_time`: เกณฑ์เวลาที่ใช้วิ่งในระยะ 100 เมตร

 ฟังก์ชันรีเทิร์นค่า

- ตารางใหม่ที่เกิดจากการกรองคัดเฉพาะคนที่มีคุณสมบัติตามที่กำหนดข้างต้น

 คำใบ้และข้อมูลเพิ่มเติม

- [Documentation ของการเลือกข้อมูลเฉพาะแถวที่ต้องการ](https://pandas.pydata.org/docs/user_guide/indexing.html)

In [ ]:
def fast_runners(df: pd.DataFrame, team_color: str, max_running_time: float) -> pd.DataFrame:
    # เขียนโค้ดของคุณตรงนี้
    return 0

In [ ]:
%%ipytest -qqs
def test_fast_runners():
    result = fast_runners(SPORTSDAY_DF, 'salmon_red', 12.0)
    pd.testing.assert_index_equal(result.columns, SPORTSDAY_DF.columns)
    assert set(result[['first_name', 'last_name']].itertuples(index=False, name=None)) == {
        ('Angela', 'Williams'),
        ('Emily', 'Flores'),
        ('Gary', 'Martinez'),
        ('Jason', 'Scott'),
        ('Justin', 'Lopez'),
    }
    
    result = fast_runners(SPORTSDAY_DF, 'caterpillar_green', 11.5)
    pd.testing.assert_index_equal(result.columns, SPORTSDAY_DF.columns)
    assert set(result[['first_name', 'last_name']].itertuples(index=False, name=None)) == {
        ('Daniel', 'Rodriguez'), 
        ('Kathleen', 'Edwards'), 
        ('Linda', 'Turner'),
    }
    
    result = fast_runners(SPORTSDAY_DF, 'whale_blue', 11.0)
    pd.testing.assert_index_equal(result.columns, SPORTSDAY_DF.columns)
    assert set(result[['first_name', 'last_name']].itertuples(index=False, name=None)) == set()
    
    print("==== Test OK ====")